[submodule "thirdparty/hifi-gan"]
	path = thirdparty/hifi-gan
	url = https://github.com/jik876/hifi-gan.git
[submodule "thirdparty/waveglow"]
	path = thirdparty/waveglow
	url = https://github.com/NVIDIA/waveglow.git
[submodule "PerceptualAudio_Pytorch"]
	path = PerceptualAudio_Pytorch
	url = https://github.com/adrienchaton/PerceptualAudio_Pytorch.git
