[submodule "thirdparty/hifi-gan"]
	path = thirdparty/hifi-gan
	url = https://github.com/jik876/hifi-gan.git
[submodule "thirdparty/thirdparty"]
	path = thirdparty/thirdparty
	url = https://github.com/jik876/hifi-gan.git
